<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               
            	<input #input (keyup)="buscarProfesional( input.value )" type="text" class="form-control" placeholder="Buscar profesional por Profesión...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
	<div class="col-sm-12">
		<div class="alert alert-warning text-center">
			<strong>Cargando</strong>
			<br>
			<i class="fa fa-refresh fa-spin fa-2x"></i>
			<br>
			<span>Espere por favor</span>
		</div>
	</div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               
            	<h3 class="card-title">Profesionales registrados ( <small>{{totalRegistros}}</small> )</h3>
                <div class="text-right">
                </div>    
            	<table class="table table-hover">
            		<thead>
            			<tr>
            				<th>Imagen</th>
                            <th>Reserva</th>
            				<th>Correo</th>
            				<th>Nombre</th>
            				<th>Profesión</th>
            				<th>Disponibilidad</th>
            				
            			</tr>
            		</thead>
            		<tbody>

            			<tr *ngFor='let profesional of profesionales'  >
                                <td class="w70">
                					<img  [src]="profesional.user.image | imagen"  class="img-50 img-circle pointer">
                				</td>
                                <td>
                                    <button (click)="reserva( profesional.user._id, profesional.user.name,profesional  )" class="btn btn-primary" placement="top" ngbTooltip="Reservar Hora">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </td>
                				<td>{{profesional.user.email}}</td>
                				<td>{{profesional.user.name}}</td>
                				<td>{{profesional.profesion}}</td>
                                <td>
                					
                					<button (click)="editarDia( profesional.user._id, profesional.user.name,profesional )" class="btn btn-primary" placement="top" ngbTooltip="Disponibilidad día">
                						<i class="fa fa-check-square-o"></i>
                					</button>
                				
                					<button (click)="editarSemana( profesional.user._id, profesional.user.name,profesional )" class="btn btn-info" placement="bottom" ngbTooltip="Disponibilidad semana">
                						<i class="fa fa-calendar-o"></i>
                					</button>

                					<button (click)="editarProfesional( profesional.user._id, profesional.user.name,profesional.profesion )" class="btn btn-warning" placement="top" ngbTooltip="Editar profesional">
                						<i class="fa fa-pencil"></i>
                					</button>

                				</td>
            			</tr>
            		</tbody>

            	</table>
            	<button (click)="cambiarDesde(-10)" class="btn btn-secondary">
            		Anteriores
            	</button>
            	<button (click)="cambiarDesde(10)" class="btn btn-secondary">
            		Siguientes
            	</button>


            </div>
        </div>
    </div>
</div>
