<div class="fondo-negro animated fadeIn" [ngClass]="_modalSemanaProfesionalService.oculto" >
	<div class="modal" style="display: block;" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">

	      	<h5 class="card-title">Configura disponibilidad semanal de {{_modalSemanaProfesionalService.nombre}}</h5>

	        <button (click)="cerrarModal()" type="button" class="close"  aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body modal-body-i" >

	      	<div class="row container">
                <div class="col">
                	
	      			<form [formGroup]="forma" id="loginform">
	      				
	      				<div formArrayName="horaSemana">
		      				<table class="table table-bordered table-sm">
		      					<thead class="thead-light" >
			            			<tr>
			            				<th >Lunes</th>
			            				<th >Martes</th>
			            				<th >Miercoles</th>
			            				<th >Jueves</th>
			            				<th >Viernes</th>
			            				<th >Sábado</th>
			            				<th >Domingo</th>
			            			</tr>
			            		</thead>
		      					<tbody>
		      						<tr *ngFor="let hora of formahoraSemana.controls  ;let i=index" [formGroupName]="i" >
		      							<td>
		      								<div class="form-check">
											  <input formControlName="horaLu" name="horaLu" class="form-check-input" type="checkbox" value="" id="{{hora.value.nombreLu}}">
											  <label class="form-check-label" for="{{hora.value.nombreLu}}">
											    {{ hora.value.hora }}
											  </label>
											</div>
		      							</td>
		      							<td>
		      								<div class="form-check">
											  <input formControlName="horaMa" name="horaMa" class="form-check-input" type="checkbox" value="" id="{{hora.value.nombreMa}}">
											  <label class="form-check-label" for="{{hora.value.nombreMa}}">
											    {{ hora.value.hora }}
											  </label>
											</div>
		      							</td>
		      							<td>
		      								<div class="form-check">
											  <input formControlName="horaMi" name="horaMi"  class="form-check-input" type="checkbox" value="" id="{{hora.value.nombreMi}}">
											  <label class="form-check-label" for="{{hora.value.nombreMi}}">
											    {{ hora.value.hora }}
											  </label>
											</div>
		      							</td>
		      							<td>
		      								<div class="form-check">
											  <input formControlName="horaJu" name="horaJu"  class="form-check-input" type="checkbox" value="" id="{{hora.value.nombreJu}}">
											  <label class="form-check-label" for="{{hora.value.nombreJu}}">
											    {{ hora.value.hora }}
											  </label>
											</div>
		      							</td>
		      							<td>
		      								<div class="form-check">
											  <input formControlName="horaVi" name="horaVi"  class="form-check-input" type="checkbox" value="" id="{{hora.value.nombreVi}}">
											  <label class="form-check-label" for="{{hora.value.nombreVi}}">
											    {{ hora.value.hora }}
											  </label>
											</div>
		      							</td>
		      							<td>
		      								<div class="form-check">
											  <input formControlName="horaSa" name="horaSa"  class="form-check-input" type="checkbox" value="" id="{{hora.value.nombreSa}}">
											  <label class="form-check-label" for="{{hora.value.nombreSa}}">
											    {{ hora.value.hora }}
											  </label>
											</div>
		      							</td>
		      							<td>
		      								<div class="form-check">
											  <input formControlName="horaDo" name="horaDo"  class="form-check-input" type="checkbox" value="" id="{{hora.value.nombreDo}}">
											  <label class="form-check-label" for="{{hora.value.nombreDo}}">
											    {{ hora.value.hora }}
											  </label>
											</div>
		      							</td>

		      						</tr>
		      						

		      					</tbody>
		      				</table>
	      				</div>
	      				
	      			</form>
	      		</div>	
	      	</div>

	      </div>
	      <div class="modal-footer">
	        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" >Cerrar</button>
	        <button (click)="registrarHoraSem()" type="button" class="btn btn-primary">Guardar</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>